*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    transition: 0.3s all ease-in-out;
   }
   body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #fff;
   }
   .shadow-wrap{
    border-radius: 5px;
    padding: 25px;
    background-color:#F0F2FB;
   }
   .form-wrap{
    background-color: #fff;
   padding: 70px;
   }
   .form-wrap form *{
    display: block;
    width: 100%;
   }
   .form-wrap form label{
   margin-bottom: 5px;
   font-size: 14px;
   font-weight: 700;
   line-height: 26px; 
   }
   .form-wrap form input{
   padding: 12px 20px;
   border-radius: 5px;
   border: 1px solid #DAE1F5;
   background: #FFF; 
   color: #545D7A; 
   }
   #id_username{
    margin-bottom: 20px;
   }
   .form-wrap button{
    border-radius: 5px;
   background: #10182F;
   color: #FFF;
   cursor: pointer;
   text-align: center;
   font-size: 16px;
   padding: 12px 68px;
   font-weight: 700;
   border: 1px solid transparent;
   margin-top: 30px;
   line-height: 26px; 
   }
   .signup-link{
    color: #10182F;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    display: block;
   text-decoration: none;
   }
   .signup-link:hover{
    text-decoration: underline;
   }
   .form-wrap button:hover{
    background-color: #fff;
    color: #10182F;
    border-color: #10182F;
   
   }
   .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    transform: scale(0);
    transition: transform 0.3s ease-out;
}

.modal-content {
    background: #000;
    margin: 5% auto;
    width: 70%;
    height: 80%;
    overflow-y: auto;
    padding: 20px;
}

.modal-show {
    transform: scale(1);
}        

.film-card {
    width: 200px;
    height: 300px;
    transition: transform 0.3s ease, border-radius 0.3s ease;
    border-radius: 4px;
}

.film-card:hover {
    transform: scale(1.15);
    border-radius: 25px;
}

.dropdown {
    position: relative;
    display: inline-block; /* This makes sure the dropdown doesn't take full width */
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black; /* Change this as needed to fit your theme */
    padding: 12px 16px;
    text-decoration: none;
    display: block; /* This will ensure each link appears on a new line */
}

.dropdown-content a:hover {
    background-color: #ddd; /* Change this as needed to fit your theme */
}

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown content on hover */
}